{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Chef</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{% static 'js/js.js' %}"></script>
    </head>
    <body class="bg-slate-50">


      <!-- ////////////////////////////////////////// Nav bar //////////////////////////////////////////////////////// -->
      <section class='sticky bg-white z-40 top-0 w-screen grid grid-cols-9 gap-4 justify-items-center items-center drop-shadow-xl'> 
        <div>
         <img class="w-[100px] h-[100px]" src="{% static 'images/logo.png' %}">
        </div>
        <div><a class="text-stone-500" href="{% url 'dash:home' %}">Home</a></div>
        {% if user.is_authenticated %}
           <div><a class="text-stone-500" href="{% url 'dash:logout' %}">Log out</a></div>
         {% else %}
             <div><a class="text-stone-500" href="{% url 'dash:login' %}">Log in</a></div>
             <div><a class="text-stone-500" href="{% url 'dash:signup' %}">create an acount</a></div>
         {% endif %}
     </section>
   

<!-- ///////////////////////////////////////////// section two  ///////////////////////////////////////////////////// -->
       <div class="mt-[20px] flex justify-center border-2 items-center flex-wrap p-[20px] w-[900px]   mx-auto ">
        <div class="border-2 h-[120px] w-[200px]"><img src="{{ offering.image.url }}" alt="Chef Offering Image"></div>

        <div class="w-[100%] border-2 text-center mt-[10px]">
            <h1 class="font-bold text-[30px]">{{ offering.name }}</h1>
           


        </div>

        </div>














    </body>



</html>